html, body
{
    width : 100%;
    height : 100%;
    margin : 0;
    padding : 0;
    display : flex;
    flex-direction: column;
    background-color : rgb(0, 0, 0);
}
p
{
    margin : 0;
    padding : 0;
}
#cercle
{
    background-color : rgb(209, 209, 209);
    border-radius : 50vw;
    width : 70vw;
    height : 70vw;
    margin : auto;
    border : 3vw solid rgb(153, 153, 153);
    display : flex;
}
#heure
{
    font-family : sans-serif;
    color : rgb(0, 0, 0);
    margin : auto;
    text-align : center;
    font-size : 10vw;
}
#cadre
{
    display : flex;
    width : 70vw;
    height : 10%;
    margin : auto;
    margin-top : 10vh;
    margin-bottom : 10vh;
}
#checkbox
{
    width : 5vw;
    height : 5vw;
    margin : auto;
}
label
{
    font-size : 5vw;
    font-family : sans-serif;
    color : white;
    text-align : center;
    margin : auto;
}
.install-shadow
{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: rgba(0, 0, 0, 0.55);
    display: none;
}
.install-alert
{
    background-color: #ececec;
    position: absolute;
    left: 0; right: 0;
    bottom: 0;
    height: 30%;
    padding: 40px;
}
.install-text
{
    font-size: 4em;
    width: 80%;
}
.dismiss-button
{
    bottom: 40px;
    left: 40px;
}
.install-button
{
    bottom: 40px;
    right: 40px;
}
.install-alert > button
{
    position: absolute;
    background-color: white;
    border: 6px solid  #314cb6;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 85px;
    font-size: 3em;
    outline: none;
}
.install-alert > button:hover
{
    background-color: #314cb6;
    color: white;
}


@media screen and (orientation : landscape)
{
    #cercle
    {
        width : 60vh;
        height : 60vh;
        border : 3vh solid rgb(153, 153, 153);
    }
    #heure
    {
        font-size : 10vh;
    }
    #cadre
    {
        width : 70vh;
        margin-top : 0vh;
        margin-bottom : 0vh;
    }
    #checkbox
    {
        width : 5vh;
        height : 5vh;
    }
    label
    {
        font-size : 5vh;
    }
}